name: Deploy

on:
  push:
    branches:
      - main
      - "**"

concurrency:
  group: deploy-${{ github.ref }}
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "npm"

      - run: npm ci

      - name: Lint backend
        run: npm run lint -w backend

      - name: Lint frontend
        run: npm run lint -w frontend

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Deploy backend
        env:
          # packages/backend/src/env.d.ts
          REQUIRED_FOO: "required-backend-value"
          OPTIONAL_FOO: "optional-backend-value"
          GOOGLE_CLIENT_ID: "495965151122-nqsuprf3r5e9r8soqa5p15ini6sijhe0.apps.googleusercontent.com"
          GOOGLE_CLIENT_SECRET: "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"
          BETTER_AUTH_SECRET: "RHY2DJS7bHHqwc6/+gSYx5pfx+lwt+epje+7bxjIWuY="
        run: npm run deploy -w backend -- --name=${{ github.ref_name }}

      - name: Deploy frontend
        env:
          # packages/frontend/src/env.d.ts
          REQUIRED_FOO: "frontend-value"
          # OPTIONAL_FOO: ""
        run: npm run deploy -w frontend -- --name=${{ github.ref_name }}
